<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="stylesheets/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
    <script src="https://use.edgefonts.net/lato:n9,i4,n1,i7,i9,n7,i1,i3,n4,n3:all.js"></script>
    <meta charset="UTF-8">
    <title>Mirror App</title>
</head>
<body>

<div>
    <div class="timeAndDateContainer">
        <h3 id="time"></h3>
        <h1 id="day" class="textAlignRight"></h1>
        <h1 id="date" class="textAlignRight"></h1>
    </div>
    <div class="weatherContainer">
        <section class="tempContainer">
            <h3 id="temp" class="one" ></h3>
            <div class="two">
                <img id="icon" src="images/touch/ms-touch-icon-144x144-precomposed.png" height="200" width="200"/>
            </div>
        </section>
        <h1 id="weatherSummary"></h1>
    </div>

    <div class="newsContainer">
        <li id="news1">-</li>
        <li id="news2">-</li>
        <li id="news3">-</li>
        <li id="news4">-</li>
        <li id="news5">-</li>
        <li id="news6">-</li>
        <li id="news7">-</li>
        <li id="news8">-</li>
    </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="./js/application.js"></script>
<script src="./js/date.js"></script>
<script src="./js/news.js"></script>